---
layout: default
group: home
---
{% include JB/setup %}
<div class="page-title-inline">
	{% if page.group == 'home' %}
	<h1>{{ site.title }} </h1>
	{% if site.tagline %}<h2>{{ site.tagline }}</h2>{% endif %}
	{% else %}
	<h1>{{ page.title }} </h1>
	{% if page.tagline %}<h2>{{ page.tagline }}</h2>{% endif %}
	{% endif %}
</div>
<div class="cont932">
	<hr style="margin-top: 0;">
	<div id="journal-articles-block">
	{% for post in paginator.posts %}
		<div class="journal-article">
			<div class="journal-post-info">
				{% assign categories_list = post.categories %}
				{% assign category = categories_list.first %}
				{% include themes/Snail/category.html %}
				{% assign categories_list = nil %}
			</div>
			<div class="journal-body">



<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript" src="http://code.highcharts.com/modules/data.js"></script>

<script type="text/javascript">

databr0s = [
{  csvfile:  'fmri_0.csv',  div:  "#container0",  x:  "Week Number",  title:  "Mean",               y: "mean"    },
{  csvfile:  'fmri_1.csv',  div:  "#container1",  x:  "Week Number",  title:  "Standard Deviation", y: "stddev"  },
{  csvfile:  'fmri_2.csv',  div:  "#container2",  x:  "Week Number",  title:  "% fluctuation",      y: "% fluctuation"  },
{  csvfile:  'fmri_3.csv',  div:  "#container3",  x:  "Week Number",  title:  "Drift",              y: "Drift"          },
{  csvfile:  'fmri_4.csv',  div:  "#container4",  x:  "Week Number",  title:  "SNR",                y: "SNR"            },
{  csvfile:  'fmri_5.csv',  div:  "#container5",  x:  "Week Number",  title:  "SFNR",               y: "SFNR"           },
{  csvfile:  'fmri_6.csv',  div:  "#container6",  x:  "Week Number",  title:  "RDC",                y: "RDC"            },
]; 

$(document).ready(function() {
  for (var i = 0; i < databr0s.length; i++ ) {
    (function (bro) {
      $.get(bro.csvfile, function(csv) {
        $(bro.div).highcharts({
          chart: { type: 'line' },
          data:  { csv: csv },
          title: { text: bro.title },
          yAxis: { title: { text: bro.y } }, 
          xAxis: { title: { text: bro.x } }
          });
      }, "text");
    })(bro = databr0s[i]); 
  }
});
</script>

<div id="container0" style="width: 600px; height: 400px; margin: 1em 1em; float: left;"></div>
<div id="container1" style="width: 600px; height: 400px; margin: 1em 1em; float: left;"></div>
<div id="container2" style="width: 600px; height: 400px; margin: 1em 1em; float: left;"></div>
<div id="container3" style="width: 600px; height: 400px; margin: 1em 1em; float: left;"></div>
<div id="container4" style="width: 600px; height: 400px; margin: 1em 1em; float: left;"></div>
<div id="container5" style="width: 600px; height: 400px; margin: 1em 1em; float: left;"></div>
<div id="container6" style="width: 600px; height: 400px; margin: 1em 1em; float: left;"></div>



				<h1 class="journal-title"><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a><span class="author">{{ post.tagline }}</span></h1>
				{% case site.excerpt %}
				{% when "truncate_words" %}
				<span class="teaser"><p>{{ post.content | strip_html | truncatewords: 20 }}</p>
				{% when "teaser" %}
				<span class="teaser">{{ post.content  | split:'<!--more-->' | first }}
				{% endcase %}
				</span>
				<span class="readmore"><a href="{{ BASE_PATH }}{{ post.url }}">Read More</a></span>
			</div>
		</div>
		<div class="clearboth"></div>
		{% endfor %}
	</div>
	{% if paginator.next_page  %}
	<div id="journal-arrows-cont">
			<a href="{{ paginator.next_page_path }}" class="journal-arrow ja-forward"></a>
	</div>
	{% endif %}
	<div class="clearboth"></div>
	<div id="journal-loadmore">Load More…</div>
	<div class="clearboth"></div>
</div>
<div class="clearboth"></div>
